<section class="article-content">
    {{ .Content }}
</section>
<script>
	document
		.querySelectorAll("h2[id^=act] + p + blockquote, h2[id^=act] + blockquote")
		.forEach((x) => {
			x.setAttribute("contenteditable", true);
			const button = document.createElement("button");
			button.style.border = "0";
			button.style.borderRadius = "3px";
			button.style.fontSize = "2rem";
			button.style.marginRight = "1rem";
			button.style.padding = "0";
			button.style.backgroundColor = "transparent";
			button.innerHTML = "✂️";
			button.addEventListener(
				"click",
				async () => {
					if (navigator.clipboard) {
						await navigator.clipboard.writeText(x.innerText);
						alert("Prompt is copied, now paste this into ChatGPT.");
					} else {
						alert(
							"Your browser does not support clipboard copy. Please select the prompt and copy."
						);
					}
				},
				false
			);
			if (x.previousElementSibling.tagName === "H2") {
				x.previousElementSibling.prepend(button);
			} else if (x.previousElementSibling.tagName === "P") {
				x.previousElementSibling.previousElementSibling.prepend(button);
			}
		});
</script>
